{% extends 'base.html' %} 

{% block navbar %} 

{% include 'navbarlogin.html' %}

{% endblock navbar %}

{% block content %}
{% if request.session.alert == 1 %}
<br>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{request.session.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

{% elif request.session.alert == 2 %}
<br>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{request.session.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endif %}

<div style="display: flex; width: 80%; height: 90%">
    <div style="
    margin-left: 10%;
    margin-right: 20;
    margin-top: auto;
    margin-bottom: auto;
    ">
        <h3>Create new donor account:</h3>
        <form action="donorSignupSubmit/" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="colFormLabel" class="col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="Email" name="Email" class="form-control" id="colFormLabel" placeholder="example@example.com" />
                </div>
                <label for="colFormLabel" class="col-form-label">Name:</label>
                <div class="col-sm-10">
                    <input type="Text" name="Name" class="form-control" id="colFormLabel" placeholder="Your Name" />
                </div>
                <label for="colFormLabel" class="col-form-label">Favourite Churches:</label>
                
                
                <!-- To have radio, change input type to radio and add same name attribute to all inputs -->
                <div class="list-group">
                    {% for x in Churches %}
                        <label class="list-group-item">
                        <input class="form-check-input me-1" name='item_checkbox'type="checkbox" value="{{x.church_id}}" id="{{x.church_id}}">
                        {{x.name}}
                        </label>
                    {% endfor%}
                </div>

                <label for="colFormLabel" class="col-form-label">Password: (minimum of 8 charachters)</label>
                <div class="col-sm-10">
                    <input name="Password" type="Password" class="form-control" id="colFormLabel" />
                </div>
            </div>
            <input type="submit" value="SignUp" />
        </form>
    </div>
</div>
{% endblock content %}