{% extends 'base.html' %}

{% block navbar %} 

{% include 'navbar.html' with prole=user.role.role_number %}

{% endblock navbar %}


{% block content %}

{% if request.session.alert == 1 %}
<br>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{request.session.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

{% elif request.session.alert == 2 %}
<br>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{request.session.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endif %}
<br>
{% if  user.role.role_number == 1 %} {% comment %} Admin {% endcomment %}
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        {% if sz == 0 %}
            <td colspan="4" style='text-align: center'>No people in need to be shown</td>
            <td></td>
            <td></td>
            <td></td>
        {% else %}
            {% for i, item in items  %}
            <tr>
                <th scope="row">{{i}}</th>
                <td>{{church.name}}</td>
                <td>{{item.item_id.name}}</td>
                <td>{{item.quantity}}</td>
            </tr>
            {%endfor%}
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
        </tr>
    </tfoot>
</table>

{% endif %}


{% endblock content %}