{% extends 'base.html' %}

{% block navbar %} 

{% include 'navbar.html' with prole=user.role.role_number %}

{% endblock navbar %}


{% block content %}

<br>


{% if  user.role.role_number == 1 %} {% comment %} Admin {% endcomment %}
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        {% for i, x, quantity in items  %}
        <tr>
            <th scope="row">{{i}}</th>
            <td>{{church.name}}</td>
            <td>{{x.name}}</td>
            <td>{{quantity}}</td>
        </tr>
        {%endfor%}
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
        </tr>
    </tfoot>
</table>

{% endif %}


{% endblock content %}