{% extends 'base.html' %}

{% block navbar %} 

{% include 'navbar.html' with prole=user.role.role_name %}

{% endblock navbar %}


{% block content %}

{% if request.session.alert == 1 %}
<br>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{request.session.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

{% elif request.session.alert == 2 %}
<br>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{request.session.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endif %}

<br>
{% if  user.role.role_name == 'Admin' %} {% comment %} Admin {% endcomment %}
<table id="example" class="table table-hover" style="width:100%">
    <thead>
        <tr>
            <th scope="col" style="width: 15%">#</th>
            <th scope="col" style="width: 35%">Donor Name</th>
            <th scope="col" style="width: 25%">Date</th>
            <th scope="col" style="width: 25%">Time</th>
        </tr>
      </thead>
    <tbody>
        {% if sz == 0 %}
        <tr>
            <td colspan="4" style='text-align: center'>No reservations to be shown</td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
        </tr>
        {% else %}
            {% for i, reservation in reservations %}
            {% if today > reservation.date %}

                <tr class="p-3 mb-2 bg-danger text-white">

                {% elif today == reservation.date %}

                <tr class="p-3 mb-2 bg-warning text-dark">

                {% else %}

                <tr>

                {% endif %}
                <th scope="row">{{i}}</th>
                <td>{{reservation.user_id.user_id.name}}</td>
                <td>{{reservation.date}}</td>
                <td>{{reservation.time}}</td>
                {% comment %} <td><input type="submit" class="btn btn-block btn-info" value={{need.id}} />Give out</td> {% endcomment %} 
                    
                    
            </tr>
            {%endfor%}
            {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" style="width: 15%">#</th>
            <th scope="col" style="width: 35%">Donor Name</th>
            <th scope="col" style="width: 25%">Date</th>
            <th scope="col" style="width: 25%">Time</th>
          </tr>
    </tfoot>
</table>

{% endif %}


{% endblock content %}