{% extends 'base.html' %}

{% block navbar %} 

{% include 'navbar.html' with prole=user.role.role_name %}

{% endblock navbar %}

{% block content %}

{% if request.session.alert == 1 %}
<br>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{request.session.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>

{% elif request.session.alert == 2 %}
<br>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{request.session.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endif %}


{% if user.role.role_name == 'Admin' %} {% comment %} Admin {% endcomment %}

<br>
<h2 class="text-center">Hello {{user.name}}!</h2>
<br>

<div style="background-color:#212529"> <p style="color:white">Thank you for helping delivering the donations to those who need it. Your role is critical in spreading the good, so keep it up!</p></div>

<p>People in need most due: </p>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 15%">#</th>
        <th scope="col" style="width: 25%">Person in Need</th>
        <th scope="col" style="width: 20%">Item</th>
        <th scope="col" style="width: 18%">Quantity</th>
        <th scope="col" style="width: 22%">Due Date</th>
    </tr>
</thead>
<tbody>
        {% if sz1 == 0 %}
            <td colspan="5" style='text-align: center'>No people in need to be shown</td>
        {% else %}
            {% for i, need in needs%}
                {% if today > need.due_date %}

                <tr class="p-3 mb-2 bg-danger text-white">

                {% elif today == need.due_date %}

                <tr class="p-3 mb-2 bg-warning text-dark">

                {% else %}

                <tr>

                {% endif %}
                <th scope="row">{{i}}</th>
                <td>{{need.people_in_need_id.name}}</td>
                <td>{{need.item_id.name}}</td>
                <td>{{need.quantity}}</td>
                <td>{{need.due_date}}</td>
            </tr>
            {%endfor%}
        {% endif %}
    </tbody>
</table>

<a href="{% url 'userApp:adminPeopleIN' %}">
<button type="button" class="btn btn-primary position-absolute end-0" >View More Details</button>
</a>

<br>
<br>

<p>Inventory highest stocked: </p>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 15%">#</th>
        <th scope="col" style="width: 35%">Church</th>
        <th scope="col" style="width: 25%">Item</th>
        <th scope="col" style="width: 25%">Quantity</th>
      </tr>
    </thead>
    <tbody>
        {% if sz2 == 0 %}
            <td colspan="5" style='text-align: center'>No items in inventory to be shown</td>
        {% else %}
            {% for i, item in items %}
        <tr>
            <th scope="row">{{i}}</th>
            <td >{{church.name}}</td>
            <td>{{item.item_id.name}}</td>
            <td>{{item.quantity}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<a href="{% url 'userApp:adminInvPage' %}">
    <button type="button" class="btn btn-primary position-absolute end-0" >View More Details</button>
</a>

<br>
<br>

<p>In-person Donation Timeslots Reservations:</p>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 15%">#</th>
        <th scope="col" style="width: 35%">Donor Name</th>
        <th scope="col" style="width: 25%">Date</th>
        <th scope="col" style="width: 25%">Time</th>
      </tr>
    </thead>
    <tbody>
        {% if sz3 == 0 %}
            <td colspan="5" style='text-align: center'>No reservations to be shown</td>
        {% else %}
            {% for i, reservation in reservations %}
            {% if today > reservation.date %}

            <tr class="p-3 mb-2 bg-danger text-white">

            {% elif today == reservation.date %}

            <tr class="p-3 mb-2 bg-warning text-dark">

            {% else %}

            <tr>

            {% endif %}
            <th scope="row">{{i}}</th>
            <td>{{reservation.user_id.user_id.name}}</td>
            <td>{{reservation.date}}</td>
            <td>{{reservation.time}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>



<a href="{% url 'userApp:adminReservation' %}">
    <button type="button" class="btn btn-primary position-absolute end-0" >View More Details</button>
    </a>

<br>
<br>


{% elif user.role.role_name == 'Donor' %} {% comment %} Donor {% endcomment %}

<br>
<h2 class="text-center">Hello {{user.name}}!</h2>
<br>
<div style="background-color:#212529"> <p style="color:white">Welcome to Kenesty, your gateway that helps connecting generous people, like you, to those who deserve in every church. You can donate online now or reserve an in-person meeting with one of the church's representatives that would happily assist you in the church. Thank you for being a helping hand! </p></div>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#card">Online Dontation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#phys">Reserve an In-Person Donation Timeslot</a>
    </li>
    </ul>

    <br>

    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane container active" id="card">

        <form action="onlineDonation/" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="colFormLabel" class="col-form-label">Amount:</label>
                <div class="col-sm-10">
                    <input type="Number"  min="0" name="Amount" class="form-control" id="colFormLabel" placeholder="0" />
                </div>
                <label for="colFormLabel" class="col-form-label">Church:</label>
                <div class="col-sm-10">
                    <select name="church_dropdown" class="form-control" id="fav_church">
                        <option value="0" selected="selected">Please select a church</option>
                        {% for x in churches %}
                        <option value="{{x.church_id}}">{{x.name}}</option>
                        {% endfor%}
                    </select>
                </div>
                
                <br>
                <br>

                <div class="col-sm-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#newcard">New Credit Card</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#savedcard">Saved Credit Card</a>
                    </li>
                </ul>
                
                    <br>
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="newcard">
                        <label for="colFormLabel" class="col-form-label">Card Number:</label>
                        <div class="col-sm-10">
                            <input type="Text" name="Cardnum" class="form-control" id="colFormLabel" placeholder="XXXX-XXXX-XXXX-XXXX" />
                        </div>
                        <label for="colFormLabel" class="col-form-label">Card Holder Name:</label>
                        <div class="col-sm-10">
                            <input type="Text" name="Cardholdname" class="form-control" id="colFormLabel" placeholder="Name" />
                        </div>
                        <label for="colFormLabel" class="col-form-label">Expiry Date:</label>
                        <div class="col-sm-10">
                            <input type="month" name="Expiry" class="form-control" id="colFormLabel" placeholder="MM/YY" />
                        </div>
                        <label for="colFormLabel" class="col-form-label">CVV:</label>
                        <div class="col-sm-10">
                            <input type="number" name="CVV" class="form-control" id="colFormLabel" placeholder="XXX" />
                        </div>
                        <br>
                        <div class="col-sm-10 form-check form-switch">
                            <input type="checkbox" name="saveCard" class="form-check-input" id="colFormLabel" />
                            <label for="colFormLabel" class="form-check-label">Save Card for Future Payments</label>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="savedcard" name="saved_card">

                        <label for="colFormLabel" class="col-form-label">Saved Cards:</label>
                        <div class="col-sm-10">
                            <select name="card_dropdown" class="form-control" id="pleaseselectcard">
                                <option value="0" selected="selected">Please select a card</option>
                                {% for x in cards %}
                                <option value="{{x.card_num}}">{{x.card_num}}</option>
                                {% endfor%}
                            </select>
                        </div>

                        
                    </div>
                </div>
            </div>
                
            </div>
            <input type="submit" class="btn btn-primary" value="Confirm Payment" />
        </form>

    </div>
    <div class="tab-pane container fade" id="phys">
        <form action="inPersonDonation/" method="post">
            {% csrf_token %}
                    <label for="colFormLabel" class="col-form-label">Church:</label>
                    <div class="col-sm-10">
                        <select name="church_dropdown2" class="form-control" id="fav_church">
                            <option value="" selected="selected">Please select a church</option>
                            {% for x in churches %}
                            <option value="{{x.church_id}}" name='item_dropdown_church'>{{x.name}}</option>
                            {% endfor%}
                        </select>
                    </div>
                        <label for="colFormLabel" class="col-form-label">Meeting Date:</label>
                        <div class="col-sm-10">
                            <input type="date" name="meeting_date" class="form-control" id="colFormLabel" placeholder="MM/YY" />
                        </div>

                        <label for="colFormLabel" class="col-form-label">Time Slot:</label>
                        <div class="col-sm-10">
                            <select name="timeslot_dropdown" class="form-control" id="fav_church">
                                <option value="0" selected="selected">Please select a time slot</option>
                                {% for x in timeslots %}
                                <option value="{{x}}" name='item_dropdown_church'>{{x}}</option>
                                {% endfor%}
                            </select>
                        </div>
                
                <br>
                <input type="submit" class="btn btn-primary" value="Confirm Reservation" />
            </div>
        </form>
    </div>
    </div>


{%else%} {% comment %} Anon {% endcomment %}

<br>
<h2 class="text-center">Hello There!</h2>
<div> <p>Welcome to Kenesty, your gateway that helps connecting generous people, to those who deserve in every church. You can donate online or reserve an in-person meeting but first you need to create your Kenesty account to be able to donate. You can also check the available churches on our platform by checking the "Kenesty Churches" page from the button above! </p></div>
<br>

{% endif %}

{% endblock content %}
