{% extends 'base.html' %}

{% block navbar %} 

{% include 'navbar.html' with prole=rolenum %}

{% endblock navbar %}

{% block content %}

{% if rolenum == 1 %} {% comment %} Admin {% endcomment %}

<br>
<h2 class="text-center">Hello {{name}}!</h2>
<br>

<p>People in need most due: </p>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
        {% for i, person, item, quantity, date in people  %}
        <tr>
            <th scope="row">{{i}}</th>
            <td>{{person.name}}</td>
            <td>{{item.name}}</td>
            <td>{{quantity}}</td>
            <td>{{date}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<a href="{% url 'userApp:adminPeopleIN' %}">
<button type="button" class="btn btn-primary position-absolute end-0" >View More Details</button>
</a>

<br>
<br>

<p>Inventory highest stocked: </p>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col"></th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
        {% for i, x, quantity in items %}
      <tr>
        <th scope="row">{{i}}</th>
        <td colspan="2">{{church.name}}</td>
        <td>{{x.name}}</td>
        <td>{{quantity}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<a href="{% url 'userApp:adminInvPage' %}">
    <button type="button" class="btn btn-primary position-absolute end-0" >View More Details</button>
    </a>

{% elif rolenum == 2 %} {% comment %} Donor {% endcomment %}

<br>
<h2 class="text-center">Hello {{name}}!</h2>
<br>



    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#card">Online Dontation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#phys">Reserve an In-Person Donation Timeslot</a>
    </li>
    </ul>

    <br>

    <!-- Tab panes -->
    <div class="tab-content">
    <div class="tab-pane container active" id="card">

        <form action="onlineDonation/" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="colFormLabel" class="col-form-label">Amount:</label>
                <div class="col-sm-10">
                    <input type="Number"  min="0" name="Amount" class="form-control" id="colFormLabel" placeholder="0" />
                </div>
                <label for="colFormLabel" class="col-form-label">Church:</label>
                <div class="col-sm-10">
                    <select name="church_dropdown" class="form-control" id="fav_church">
                        <option value="0" selected="selected">Please select a church</option>
                        {% for x in churches %}
                        <option value="{{x.church_id}}">{{x.name}}</option>
                        {% endfor%}
                    </select>
                </div>
                
                <br>
                <br>

                <div class="col-sm-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#newcard">New Credit Card</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#savedcard">Saved Credit Card</a>
                    </li>
                </ul>
                
                    <br>
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="newcard">
                        <label for="colFormLabel" class="col-form-label">Card Number:</label>
                        <div class="col-sm-10">
                            <input type="Text" name="Cardnum" class="form-control" id="colFormLabel" placeholder="XXXX-XXXX-XXXX-XXXX" />
                        </div>
                        <label for="colFormLabel" class="col-form-label">Card Holder Name:</label>
                        <div class="col-sm-10">
                            <input type="Text" name="Cardholdname" class="form-control" id="colFormLabel" placeholder="Name" />
                        </div>
                        <label for="colFormLabel" class="col-form-label">Expiry Date:</label>
                        <div class="col-sm-10">
                            <input type="month" name="Expiry" class="form-control" id="colFormLabel" placeholder="MM/YY" />
                        </div>
                        <label for="colFormLabel" class="col-form-label">CVV:</label>
                        <div class="col-sm-10">
                            <input type="number" name="CVV" class="form-control" id="colFormLabel" placeholder="XXX" />
                        </div>
                        <br>
                        <div class="col-sm-10 form-check form-switch">
                            <input type="checkbox" name="saveCard" class="form-check-input" id="colFormLabel" />
                            <label for="colFormLabel" class="form-check-label">Save Card for Future Payments</label>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="savedcard" name="saved_card">

                        <label for="colFormLabel" class="col-form-label">Saved Cards:</label>
                        <div class="col-sm-10">
                            <select name="card_dropdown" class="form-control" id="pleaseselectcard">
                                <option value="0" selected="selected">Please select a card</option>
                                {% for x in cards %}
                                <option value="{{x.card_num}}">{{x.card_num}}</option>
                                {% endfor%}
                            </select>
                        </div>

                        
                    </div>
                </div>
            </div>
                
            </div>
            <input type="submit" class="btn btn-primary" value="Confirm Payment" />
        </form>

    </div>
    <div class="tab-pane container fade" id="phys">
        <form action="inPersonDonation/" method="post">
                    <label for="colFormLabel" class="col-form-label">Church:</label>
                    <div class="col-sm-10">
                        <select name="church_dropdown2" class="form-control" id="fav_church">
                            <option value="" selected="selected">Please select a church</option>
                            {% for x in churches %}
                            <option value="{{x.church_id}}" name='item_dropdown_church'>{{x.name}}</option>
                            {% endfor%}
                        </select>
                    </div>
                        <label for="colFormLabel" class="col-form-label">Meeting Date:</label>
                        <div class="col-sm-10">
                            <input type="date" name="meeting_date" class="form-control" id="colFormLabel" placeholder="MM/YY" />
                        </div>

                        <label for="colFormLabel" class="col-form-label">Time Slot:</label>
                        <div class="col-sm-10">
                            <select name="timeslot_dropdown" class="form-control" id="fav_church">
                                <option value="" selected="selected">Please select a time slot</option>
                                {% for x in timeslots %}
                                <option value="{{x.time_id}}" name='item_dropdown_church'>{{x.time}}</option>
                                {% endfor%}
                            </select>
                        </div>
                
                <br>
                <input type="submit" class="btn btn-primary" value="Confirm Reservation" />
            </div>
        </form>
    </div>
    </div>


{%else%} {% comment %} Anon {% endcomment %}

<br>
<h2 class="text-center">Hello Anon!</h2>
<br>

{% endif %}

{% endblock content %}
