<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img alt="Home" width="50" height="50" padding="100px" src="https://www.collinsdictionary.com/images/thumb/church_61786270_250.jpg">        
        </a>
        <a class="navbar-brand" href="#">Donor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'userApp:knesetyChurches' %}>Kenesty Churches</a>
                </li>
            </ul>
            <a href={% url 'userApp:myAccount' %}>
                <button class="btn btn-outline-light">My account</button>
            </a>
            <a href="/login/donorLogout">
                <button class="btn btn-outline-light">Logout</button>
            </a>
        </div>
    </div>
</nav>